<h2>Eventos</h2>
<hr>
<form action="" class="d-flex flex-row align-items-center flex-wrap ">
  <div class="d-flex mb-3" >
    <input type="text" class="form-control me-2" placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped ">
  <thead class="table-dark">
<tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


